<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Inventory Functional Test Suite" parallel="classes" thread-count="5">
    <test name="Functional Tests">
        <groups>
            <run>
                <include name="full"/>
            </run>
        </groups>
        <packages>
            <package name="com.safer.test"/>
        </packages>
    </test>
</suite>